/* index */

.header,
.descr,
.ingr,
.steps {
    font-size: 25px;
    color:palevioletred;
    font-weight: bold;
    text-align: left;
}

.header {
    font-size: 40px;
}

#introimg {
    width: 300px;
    height: auto;
}

#cooking {
    width: 500px;
    height: auto;
}